@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Nunito&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.animate-zoom {
  animation: zoom 18s ease-in-out infinite;
}

/* 

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s ease infinite;
} */
